@import-normalize;

html, body {
    font-family: 'Roboto', sans-serif; 
}

p, h1 {
    padding: 0;
    margin: 0;
}

.contact-info-container, .work-exp-container {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
}

.contact-info-container {
    padding-top: 30px;
}

/* .edit-heading {
    margin-bottom: 15px;
    border: 1px solid #2d2d2d;
    border-top: none;
    border-left: none;
    border-right: none; 
} */

.App, .edit-view, .submitted-view {
    display: inline-flex;
    flex-direction: column;
}

.edit-view {
    border: 1px solid gainsboro;
    border-top: none;
    border-left: none;
    border-right: none;
    /* padding: 15px 0; */
    padding-bottom: 15px;
    width: 100%;
}

.submitted-line {
    padding: 5px 0;
}

.heading {
    margin-bottom: 10px;
    border: 1px solid #2d2d2d;
    border-top: none;
    border-left: none;
    border-right: none;
}

.name {
    font-size: 18px;
}

label {
    font-size: 15px;
    padding-bottom: 5px;
}

.box-container {
    display: flex;
    padding-bottom: 25px;
}

.half-box, .single-box {
    display: flex;
    flex-direction: column;
}

.half-box {
    padding-right: 30px;
}

.single-box {
    padding-bottom: 25px;
}

.half-form {
    width: 300px;
}

.form {
    font-size: 15px;
    padding: 6px 12px;
}

.single-form {
    width: 515px;
}

.save-btn {
    background-color: #0A6EBD;
    color: #FFFFFF;
    margin-right: 15px;
}

.cancel-btn, .trash-btn {
    color: #2d2d2d;
    background-color: #FFFFFF;
}

.trash-icon {
    margin-right: 5px;
}

.save-btn, .cancel-btn, .trash-btn {
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.form-control, .flag-dropdown {
    border-color: rgb(118, 118, 118) !important;
}

.react-tel-input .form-control {
    height: 33px !important;
	width: 328px !important;
    font-size: 15px !important;
}

.edit-icon {
    font-size: 20px;
    margin-left: 15px;
    margin-top: 8px;
    cursor: pointer;
}

.date-dbl-container {
    display: inline-flex;
    padding-bottom: 25px;
    /* padding-bottom: 12px; */
}

.date-single-container {
    display: flex;
    padding-right: 30px;
    position: relative;
}

.notice-text {
    position: absolute;
    top: 60px;
    font-size: 13px;
}

.year-container, .month-container {
    display: flex;
    flex-direction: column;
}

#from-month-dropdown, #to-month-dropdown, #from-year, #to-year {
    font-size: 15px;
}

#from-month-dropdown, #to-month-dropdown {
    height: 33px;
    padding: 0px 0px 0px 5px;
}

#from-year, #to-year {
    padding: 0px 0px 0px 5px;
    margin: 0;
    height: 29px;
}

.month-container {
    margin-right: 5px;
}

.description-box {
    display: flex;
    flex-direction: column;
    /* padding-top: 13px; */
}

#description {
    font-family: 'Roboto', sans-serif; 
    font-size: 15px;
    padding: 10px;
    margin-bottom: 25px;
}

.header, #work-exp-header, .btn-container, .edit-btn-container, .exp-header-container {
    display: flex;
}

.btn-container, .edit-btn-container {
    /* padding-top: 18px; */
}

.edit-btn-container {
    justify-content: space-between;
    padding-right: 30px;
}

.icon-wrapper {
    cursor: pointer;
}

.plus-icon {
    font-size: 20px;
    margin-left: 15px;
    margin-top: 9px;
}

.exp-title {
    font-size: 18px;
}

.exp-pencil {
    font-size: 15px;
    margin-left: 10px;
    margin-top: 1px;
}

.exp-container {
    display: flex;
    flex-direction: column;
    border: 1px solid gainsboro;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px 0;
}

.disable-cursor {
    cursor: not-allowed;
}

.disable {
    color: grey;
    pointer-events: none;
}

.form-error {
    font-size: 13px;
    color: red;
    padding-top: 5px;
}

input:invalid {
    background-color: #ffdddd;
}

.invalid {
    background-color: #ffdddd !important;
    border-color: #c00000 !important;
}

#main-content {
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    flex-direction: column;
    /* padding: 0 30px; */
}

#create-pdf-btn {
    width: fit-content;
    font-size: 18px;
    padding: 5px;
    margin-left: 30px;
}
