html, body {
    font-family: 'Roboto', sans-serif; 
}

.contact-info-container {
    /* max-width: 60%; */
}

.edit-view {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
}

.box-container {
    display: flex;
    /* justify-content: space-between; */
    padding-bottom: 30px;
}

.half-box, .single-box {
    display: flex;
    flex-direction: column;
}

.half-box {
    padding-right: 30px;
}

.single-box {
    padding-bottom: 30px;
}

.half-form {
    width: 300px;
}

.form {
    font-size: 20px;
    padding: 8px 10px;
}

.single-form {
    width: 655px;
}

.save-btn {
    background-color: #0A6EBD;
    color: #FFFFFF;
    margin-right: 15px;
}

.save-btn, .cancel-btn {
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}